
[Unit]
Description=droopy server
Wants=nginx.service

[Service]
Type=simple
ExecStart=/opt/droopy/droopy --config-file /etc/default/droopy
Restart=always
TimeoutSec=10

[Install]
WantedBy=multi-user.target
